## Walmart Analysis

### Read Data

In [4]:
import pandas as pd 

df = pd.read_csv('./Walmart.csv')
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

### Task 1

#### 1.a Chosing the right data to regression modelling

Kolom yang bisa digunakan untuk pemodelan regresi adalah 'Weekly_Sales', 'Temperature', 'Fuel_Price', 'CPI', dan 'Unemployment'

#### 1.b Mean, Median, Std Deviasi & Varians

In [10]:
mean_weekly_sales = df['Weekly_Sales'].mean().round(2) # Mencari nilai rata-rata kolom 'Weekly_Sales'
print("Mean Kolom Weekly_Sales: ", mean_weekly_sales)

median_weekly_sales = df['Weekly_Sales'].median().round(2) # Mencari nilai median kolom 'Weekly_Sales'
print("Median Kolom Weekly_Sales: ", median_weekly_sales)

std_dev_weekly_sales = df['Weekly_Sales'].std().round(5) # Mencari nilai standar deviasi kolom 'Weekly_Sales'
print("Standar Deviasi Kolom Weekly_Sales: ", std_dev_weekly_sales)

varians_weekly_sales = df['Weekly_Sales'].var().round(5) # Mencari nilai varians kolom 'Weekly_Sales'
print("Varians Kolom Weekly_Sales: ", varians_weekly_sales)

Mean Kolom Weekly_Sales:  1046964.88
Median Kolom Weekly_Sales:  960746.04
Standar Deviasi Kolom Weekly_Sales:  564366.62205
Varians Kolom Weekly_Sales:  318509684088.30096

In [12]:
mean_temperatures = df['Temperature'].mean().round(2) # Mencari nilai rata-rata kolom 'Temperature'
print("Mean Kolom Temperature: ", mean_temperatures)

median_temperatures = df['Temperature'].median().round(2) # Mencari nilai median kolom 'Temperature'
print("Median Kolom Temperature: ", median_temperatures)

std_dev_temperatures = df['Temperature'].std().round(5) # Mencari nilai standar deviasi kolom 'Temperature'
print("Standar Deviasi Kolom Temperature: ", std_dev_temperatures)

varians_temperatures = df['Temperature'].var().round(5) # Mencari nilai varians kolom 'Temperature'
print("Varians Kolom Temperature: ", varians_temperatures)

Mean Kolom Temperature:  60.66
Median Kolom Temperature:  62.67
Standar Deviasi Kolom Temperature:  18.44493
Varians Kolom Temperature:  340.21555

In [13]:
mean_fuel_price = df['Fuel_Price'].mean().round(2) # Mencari nilai rata-rata kolom 'Fuel_Price'
print("Mean Kolom Fuel_Price: ", mean_fuel_price)

median_fuel_price = df['Fuel_Price'].median().round(2) # Mencari nilai median kolom 'Fuel_Price'
print("Median Kolom Fuel_Price: ", median_fuel_price)

std_dev_fuel_price = df['Fuel_Price'].std().round(5) # Mencari nilai standar deviasi kolom 'Fuel_Price'
print("Standar Deviasi Kolom Fuel_Price: ", std_dev_fuel_price)

varians_fuel_price = df['Fuel_Price'].var().round(5) # Mencari nilai varians kolom 'Fuel_Price'
print("Varians Kolom Fuel_Price: ", varians_fuel_price)

Mean Kolom Fuel_Price:  3.36
Median Kolom Fuel_Price:  3.44
Standar Deviasi Kolom Fuel_Price:  0.45902
Varians Kolom Fuel_Price:  0.2107

In [14]:
mean_cpi = df['CPI'].mean().round(2) # Mencari nilai rata-rata kolom 'CPI'
print("Mean Kolom CPI: ", mean_cpi)

median_cpi = df['CPI'].median().round(2) # Mencari nilai median kolom 'CPI'
print("Median Kolom CPI: ", median_cpi)

std_dev_cpi = df['CPI'].std().round(5) # Mencari nilai standar deviasi kolom 'CPI'
print("Standar Deviasi Kolom CPI: ", std_dev_cpi)

varians_cpi = df['CPI'].var().round(5) # Mencari nilai varians kolom 'CPI'
print("Varians Kolom CPI: ", varians_cpi)

Mean Kolom CPI:  171.58
Median Kolom CPI:  182.62
Standar Deviasi Kolom CPI:  39.35671
Varians Kolom CPI:  1548.9508

In [15]:
mean_unemployment = df['Unemployment'].mean().round(2) # Mencari nilai rata-rata kolom 'Unemployment'
print("Mean Kolom Unemployment: ", mean_unemployment)

median_unemployment = df['Unemployment'].median().round(2) # Mencari nilai median kolom 'Unemployment'
print("Median Kolom Unemployment: ", median_unemployment)

std_dev_unemployment = df['Unemployment'].std().round(5) # Mencari nilai standar deviasi kolom 'Unemployment'
print("Standar Deviasi Kolom Unemployment: ", std_dev_unemployment)

varians_unemployment = df['Unemployment'].var().round(5) # Mencari nilai varians kolom 'Unemployment'
print("Varians Kolom Unemployment: ", varians_unemployment)

Mean Kolom Unemployment:  8.0
Median Kolom Unemployment:  7.87
Standar Deviasi Kolom Unemployment:  1.87588
Varians Kolom Unemployment:  3.51894

#### 1.c Qi, Q2, Q3 and IQR

In [16]:
q1_fuel_price = df['Fuel_Price'].quantile(0.25) # Mencari nilai Q1 kolom 'Fuel_Price'
print("Q1 Kolom Fuel_Price: ", q1_fuel_price)

q2_fuel_price = df['Fuel_Price'].quantile(0.5) # Mencari nilai Q2 kolom 'Fuel_Price'
print("Q2 Kolom Fuel_Price: ", q2_fuel_price)

q3_fuel_price = df['Fuel_Price'].quantile(0.75) # Mencari nilai Q3 kolom 'Fuel_Price'
print("Q3 Kolom Fuel_Price: ", q3_fuel_price)

iqr_fuel_price = q3_fuel_price - q1_fuel_price # Mencari nilai IQR kolom 'Fuel_Price'
print("IQR Kolom Fuel_Price: ", iqr_fuel_price)

Q1 Kolom Fuel_Price:  2.933
Q2 Kolom Fuel_Price:  3.445
Q3 Kolom Fuel_Price:  3.735
IQR Kolom Fuel_Price:  0.802