## Walmart Analysis

### Read Data

In [4]:
import pandas as pd 

df = pd.read_csv('./Walmart.csv')
df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

### Task 1

#### 1.a Chosing the right data to regression modelling

Kolom yang bisa digunakan untuk pemodelan regresi adalah 'Weekly_Sales', 'Temperature', 'Fuel_Price', 'CPI', dan 'Unemployment'

#### 1.b Mean, Median, Std Deviasi & Varians

In [20]:
mean_weekly_sales = df[df['Store'] == 4]['Weekly_Sales'].mean().round(2) # Mencari nilai rata-rata kolom 'Weekly_Sales'
print("Mean Kolom Weekly_Sales di Store 4: ", mean_weekly_sales)

median_weekly_sales = df[df['Store'] == 4]['Weekly_Sales'].median().round(2) # Mencari nilai median kolom 'Weekly_Sales'
print("Median Kolom Weekly_Sales di Store 4: ", median_weekly_sales)

minimum_weekly_sales = df[df['Store'] == 4]['Weekly_Sales'].min().round(2) # Mencari nilai minimum kolom 'Weekly_Sales'
print("Minimum Kolom Weekly_Sales di Store 4: ", minimum_weekly_sales)

maximum_weekly_sales = df[df['Store'] == 4]['Weekly_Sales'].max().round(2) # Mencari nilai maximum kolom 'Weekly_Sales'
print("Maximum Kolom Weekly_Sales di Store 4: ", maximum_weekly_sales)

Mean Kolom Weekly_Sales di Store 4:  2094712.96
Median Kolom Weekly_Sales di Store 4:  2073951.38
Minimum Kolom Weekly_Sales di Store 4:  1762539.3
Maximum Kolom Weekly_Sales di Store 4:  3676388.98